In [172]:
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [173]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\udemy\ml study material\eda\venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\udemy\ml study material\eda\venv\lib\site-packages (from openpyxl) (2.0.0)

In [174]:
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [175]:
# Date of Journey
df['Day'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [176]:
df.drop('Route',axis=1, inplace=True)

In [177]:
df['dep_hour']=df['Dep_Time'].str.split(":").str[0]
df['dep_min']=df['Dep_Time'].str.split(":").str[1]

In [178]:
df.drop('Dep_Time',axis=1,inplace=True)

In [179]:
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min
0,IndiGo,24/03/2019,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019,22,20
1,Air India,1/05/2019,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,05,2019,05,50
2,Jet Airways,9/06/2019,Delhi,Cochin,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019,09,25
3,IndiGo,12/05/2019,Kolkata,Banglore,23:30,5h 25m,1 stop,No info,6218,12,05,2019,18,05
4,IndiGo,01/03/2019,Banglore,New Delhi,21:35,4h 45m,1 stop,No info,13302,01,03,2019,16,50

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Day              10683 non-null  object
 10  Month            10683 non-null  object
 11  Year             10683 non-null  object
 12  dep_hour         10683 non-null  object
 13  dep_min          10683 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.1+ MB

In [181]:
df['Day']=df['Day'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)
df['dep_hour']=df['dep_hour'].astype(int)
df['dep_min']=df['dep_min'].astype(int)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Day              10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  dep_hour         10683 non-null  int64
 13  dep_min          10683 non-null  int64
dtypes: int64(6), object(8)
memory usage: 1.1+ MB

In [183]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min
0,IndiGo,24/03/2019,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,1/05/2019,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,23:30,5h 25m,1 stop,No info,6218,12,5,2019,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,21:35,4h 45m,1 stop,No info,13302,1,3,2019,16,50

In [184]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [185]:
df['Arrival_hour']= df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']= df['Arrival_Time'].str.split(':').str[1]

In [186]:
df.drop('Arrival_Time',axis=1, inplace=True)

In [187]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min,Arrival_hour,Arrival_min
0,IndiGo,24/03/2019,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,01,10
1,Air India,1/05/2019,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,04,25
3,IndiGo,12/05/2019,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35

In [188]:
df['Durationh']= df['Duration'].str.split(' ').str[0]
df['Durationm']= df['Duration'].str.split(' ').str[1]

In [189]:
df['Duration_hours'] = df['Durationh'].str.split('h').str[0]

In [190]:
df['duration_minits']=df['Durationm'].str.split('m').str[0]

In [191]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min,Arrival_hour,Arrival_min,Durationh,Durationm,Duration_hours,duration_minits
0,IndiGo,24/03/2019,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,01,10,2h,50m,2,50
1,Air India,1/05/2019,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15,7h,25m,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,04,25,19h,NaN,19,NaN
3,IndiGo,12/05/2019,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30,5h,25m,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35,4h,45m,4,45

In [192]:
df.drop(['Date_of_Journey'],axis=1,inplace=True)

In [193]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min,Arrival_hour,Arrival_min,Durationh,Durationm,Duration_hours,duration_minits
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,01,10,2h,50m,2,50
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15,7h,25m,7,25
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,04,25,19h,NaN,19,NaN
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30,5h,25m,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35,4h,45m,4,45

In [194]:
ds=df['Total_Stops'].mode()

In [195]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [196]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,np.nan:1})

In [197]:
df.head(10)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min,Arrival_hour,Arrival_min,Durationh,Durationm,Duration_hours,duration_minits
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,22,20,01,10,2h,50m,2,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,7h,25m,7,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,9,25,04,25,19h,NaN,19,NaN
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,5h,25m,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,4h,45m,4,45
5,SpiceJet,Kolkata,Banglore,2h 25m,0,No info,3873,24,6,2019,9,0,11,25,2h,25m,2,25
6,Jet Airways,Banglore,New Delhi,15h 30m,1,In-flight meal not included,11087,12,3,2019,18,55,10,25,15h,30m,15,30
7,Jet Airways,Banglore,New Delhi,21h 5m,1,No info,22270,1,3,2019,8,0,05,05,21h,5m,21,5
8,Jet Airways,Banglore,New Delhi,25h 30m,1,In-flight meal not included,11087,12,3,2019,8,55,10,25,25h,30m,25,30
9,Multiple carriers,Delhi,Cochin,7h 50m,1,No info,8625,27,5,2019,11,25,19,15,7h,50m,7,50

In [198]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min,Arrival_hour,Arrival_min,Durationh,Durationm,Duration_hours,duration_minits
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,22,20,01,10,2h,50m,2,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,7h,25m,7,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,9,25,04,25,19h,NaN,19,NaN
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,5h,25m,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,4h,45m,4,45

In [199]:
df.drop(['Duration','Durationh','Durationm'],axis=1, inplace=True)

In [200]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Day,Month,Year,dep_hour,dep_min,Arrival_hour,Arrival_min,Duration_hours,duration_minits
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,22,20,01,10,2,50
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,9,25,04,25,19,NaN
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,2019,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,2019,16,50,21,35,4,45

In [201]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)