In [4]:
# Imorting Modules

import seaborn as sns
import pandas as pd
import numpy as np

In [5]:
# Reading File

df = pd.read_excel('flight_price.xlsx')

df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
# Droping Route cause it is of no use

df.drop('Route',axis=1,inplace=True)

In [7]:
# Date_of_Journey

df['Day'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

# Droping Date_of_Journey
df.drop('Date_of_Journey',axis=1,inplace=True)
df.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [8]:
# Converting Day, Month, Year columns from str to int

df['Day']=df['Day'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Dep_Time         10683 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Day              10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
dtypes: int64(4), object(8)
memory usage: 1001.7+ KB

In [9]:
df.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [10]:
# Dep_Time

df['Dep_Hours'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_Minutes']= df['Dep_Time'].str.split(':').str[1]

# Droping Dep_Time Column
df.drop('Dep_Time', axis=1, inplace=True)

In [11]:
# Converting Dep_Hours, Dep_Minutes columns from str to int
df['Dep_Hours'] = df['Dep_Hours'].astype(int)
df['Dep_Minutes'] = df['Dep_Minutes'].astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Arrival_Time     10683 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Day              10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Dep_Hours        10683 non-null  int64
 12  Dep_Minutes      10683 non-null  int64
dtypes: int64(6), object(7)
memory usage: 1.1+ MB

In [13]:
df.head()

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hours,Dep_Minutes
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,5,50
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,9,25
3,IndiGo,Kolkata,Banglore,23:30,5h 25m,1 stop,No info,6218,12,5,2019,18,5
4,IndiGo,Banglore,New Delhi,21:35,4h 45m,1 stop,No info,13302,1,3,2019,16,50

In [14]:
# Arrival_Time

df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(' ')[0]) 
df['Arrival_Hours'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Minutes'] = df['Arrival_Time'].str.split(':').str[1]

In [15]:
#Dropping Arrival_Time Column

df.drop('Arrival_Time',axis=1,inplace=True)

In [16]:
#Converting Arrival_Hours, Arrival_Minutes columns from str to int

df['Arrival_Hours']= df["Arrival_Hours"].astype(int)
df['Arrival_Minutes']= df["Arrival_Minutes"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Day              10683 non-null  int64
 8   Month            10683 non-null  int64
 9   Year             10683 non-null  int64
 10  Dep_Hours        10683 non-null  int64
 11  Dep_Minutes      10683 non-null  int64
 12  Arrival_Hours    10683 non-null  int64
 13  Arrival_Minutes  10683 non-null  int64
dtypes: int64(8), object(6)
memory usage: 1.1+ MB

In [17]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hours,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,4,25
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35

In [18]:
# Duration

df['Duration_Hours'] = df['Duration'].str.split(' ').str[0]
df['Duration_Minutes'] = df['Duration'].str.split(' ').str[1]

df['Duration_Hours'] = df['Duration_Hours'].apply(lambda x:x.split('h')[0])
df['Duration_Minutes'] = df['Duration_Minutes'].str.split('m').str[0]

In [19]:
# Dropping Duration Column
df.drop('Duration',axis=1,inplace=True)

In [20]:
df['Duration_Hours'].unique()
df['Duration_Hours'] = df['Duration_Hours'].str.extract('(\d+)').astype(int) #pandas searches each value and extracts only the numeric part.

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\behli\AppData\Local\Temp\ipykernel_3400\1463607322.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['Duration_Hours'] = df['Duration_Hours'].str.extract('(\d+)').astype(int) #pandas searches each value and extracts only the numeric part.

In [21]:
df['Duration_Minutes'] = df['Duration_Minutes'].fillna(0)

In [22]:
# converting Duration_Hours, Duration_Minutes fron object to int
df['Duration_Hours'] = df['Duration_Hours'].astype(int) 
df['Duration_Minutes'] = df['Duration_Minutes'].astype(int)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Total_Stops       10682 non-null  object
 4   Additional_Info   10683 non-null  object
 5   Price             10683 non-null  int64
 6   Day               10683 non-null  int64
 7   Month             10683 non-null  int64
 8   Year              10683 non-null  int64
 9   Dep_Hours         10683 non-null  int64
 10  Dep_Minutes       10683 non-null  int64
 11  Arrival_Hours     10683 non-null  int64
 12  Arrival_Minutes   10683 non-null  int64
 13  Duration_Hours    10683 non-null  int64
 14  Duration_Minutes  10683 non-null  int64
dtypes: int64(10), object(5)
memory usage: 1.2+ MB

In [24]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hours,Arrival_Minutes,Duration_Hours,Duration_Minutes
0,IndiGo,Banglore,New Delhi,non-stop,No info,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2 stops,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2 stops,No info,13882,9,6,2019,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1 stop,No info,6218,12,5,2019,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1 stop,No info,13302,1,3,2019,16,50,21,35,4,45

In [25]:
# Total_Stops
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [26]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hours,Arrival_Minutes,Duration_Hours,Duration_Minutes
9039,Air India,Delhi,Cochin,NaN,No info,7480,6,5,2019,9,45,9,25,23,40

In [27]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [28]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stops':2, '3 stops':3 ,'4 stops':4, np.nan:1})

In [29]:
# converting Total_Stops column from object to int
df['Total_Stops'] = df['Total_Stops'].astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Total_Stops       10683 non-null  int64
 4   Additional_Info   10683 non-null  object
 5   Price             10683 non-null  int64
 6   Day               10683 non-null  int64
 7   Month             10683 non-null  int64
 8   Year              10683 non-null  int64
 9   Dep_Hours         10683 non-null  int64
 10  Dep_Minutes       10683 non-null  int64
 11  Arrival_Hours     10683 non-null  int64
 12  Arrival_Minutes   10683 non-null  int64
 13  Duration_Hours    10683 non-null  int64
 14  Duration_Minutes  10683 non-null  int64
dtypes: int64(11), object(4)
memory usage: 1.2+ MB

In [31]:
#Additional Info 
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [32]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\udemy\ml study material\eda\venv\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in d:\udemy\ml study material\eda\venv\lib\site-packages (from scikit-learn) (2.4.0)
Requirement already satisfied: scipy>=1.10.0 in d:\udemy\ml study material\eda\venv\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.3.0 in d:\udemy\ml study material\eda\venv\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in d:\udemy\ml study material\eda\venv\lib\site-packages (from scikit-learn) (3.6.0)

In [33]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hours,Arrival_Minutes,Duration_Hours,Duration_Minutes
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,2019,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,2019,16,50,21,35,4,45

In [34]:
# Now for Airline, Source, Destination, Additional_Info 
from sklearn.preprocessing import OneHotEncoder

In [35]:
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[['Airline','Source','Destination','Additional_Info']]).toarray()

In [36]:
ds = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [37]:
ds.head()

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [38]:
df.drop(['Airline','Destination','Source','Additional_Info'], axis=1, inplace=True)

In [39]:
final_data = pd.concat([ds.reset_index(drop=True),df.reset_index(drop=True)],axis=1)

In [40]:
final_data.head()

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Price,Day,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hours,Arrival_Minutes,Duration_Hours,Duration_Minutes
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3897,24,3,2019,22,20,1,10,2,50
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7662,1,5,2019,5,50,13,15,7,25
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,13882,9,6,2019,9,25,4,25,19,0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6218,12,5,2019,18,5,23,30,5,25
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13302,1,3,2019,16,50,21,35,4,45

In [41]:
final_data.to_excel('flight_cleaned.xlsx')

In [42]:
final_data.to_csv("flight.csv")